body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    /* Fondo degradado */
    background: linear-gradient(to bottom, #6e0000, #420000);
    /* Asegura que el fondo cubra toda la pantalla */
    height: 100vh;
    margin: 0;
    /* Estilos para el contenido de la página */
    color: white;
    font-family: Arial, sans-serif;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

